.checkout-nav {
  background: var(--color-primary);
  padding: 15px 0;
  text-align: center;
}
.checkout .row {
  margin-left: 0;
  margin-right: 0;
}
.checkout-nav h3 {
  font-size: 16px;
  color: var(--color-white);
}
.shipping-address-item {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 4px;
  background: #ececec;
}
.shipping-address-item.selected {
  border-color: var(--color-primary);
}
.header {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--color-primary);
}
.s-location {
  margin-bottom: 5px;
}
.s-contact,
.s-location {
  font-weight: 400;
  font-size: 14px;
  color: #202020;
}

.edit-address-btn {
  color: var(--color-primary);
}

.add-address-btn {
  width: max-content;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  background: rgba(15, 226, 180, 0.3);
  color: var(--color-primary);
  justify-content: center;
}

.checkout .item-title,
b {
  color: #131313;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 3px;
}
.item-price,
.item-quantity {
  font-size: 13px;
  font-weight: 400;
}
.pm-btn {
  width: 100%;
  padding: 0 10px;
  height: 35px;
  background: var(--color-primary);
  color: var(--color-white);
}
.order-items-container .row {
  margin-bottom: 15px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
}
.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
}
.modal-form {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 800ms;
  width: 90vw;
  top: -100%;
}
.modal-form form {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
}

.modal.modal-open {
  opacity: 1;
  visibility: visible;
}
.modal .fa-times {
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
  color: #202020;
}
.modal.modal-open .modal-overlay {
  opacity: 1;
  visibility: visible;
}
.modal.modal-open .modal-form {
  opacity: 1;
  visibility: visible;
  top: 60px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 15px;
}
.modal-header h3 {
  color: #202020;
  font-weight: 500;
  font-size: 15px;
}
.modal-form .container {
  background: var(--color-white);
  padding: 10px 10px;
  width: inherit;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 13px;
  color: #202020;
}
.form-group input,
select {
  width: 100%;
  background: #ececec;
  height: 35px;
  padding: 0 15px;
  color: #202020;
  font-weight: 500;
}
.modal-form button {
  background: var(--color-primary);
  color: #ffffff;
  padding: 10px 20px;
  margin-left: 10px;
}

.payment-methods .col-12 {
  margin-bottom: 10px;
}

.payment-methods .col-12 input {
  margin-right: 10px;
  color: var(--color-primary);
}
.pm-btn {
  border-radius: 5px;
  font-weight: 700;
  border: 2px solid #fffb00;
  background: #202020;
  position: relative;
}
.pm-btn .spinner{
  left: 50px;
  top: 50%;
}
.pm-btn:disabled{
  opacity: .5;
  cursor: not-allowed;
}

.place-order-btn {
  background: #dceb06;
  color: #131313;
}
