.cart table{
    width: 100%;
}
.cart .col-md-3{
    margin-top: 10px;
}

.cart-header th{
    color: var(--color-primary);
    font-weight: 600;
    text-align: left;

}


.cart table th{
    padding:0 0 10px 0;
}
.product-details .cart-actions{
display: flex;
gap: 15px;
}
.price-qty, .price-amount{
    font-size: 15px;
    color:#202020;
}
.product-details button{
  font-weight: 400;
  font-size: 13px;
  color: #f83714;
    cursor: pointer;
  
}
.product-details a{
    color: var(--color-primary);
    font-weight: normal;
}
.product-details button a{
    text-decoration: none;
    color: var(--color-primary);
}
.product-thumb{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
}
.cart-desktop-visible{
    display: none;
}
.cart .btn{
    width: 100%;
    background: #292929;
    color: #fff;
    display: block;
}
.cart .btn.continue-shopping-btn{
    background: crimson;
}
.cart-totals{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}
.cart-summary{
    gap: 13px;
}
.cart-summary-item h3{
    color: var(--color-primary);
    font-size: 13px;
    font-weight: 500;
}
.cart-summary-item p{
    font-size: 12px;

    color: #202020;
    font-weight: 400;
}
@media(min-width:768px){
    .cart-desktop-visible{
        display: table-cell;
    }
    .cart .col-md-3{
        margin-top: 0;
    }
}