.loader-img-container{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.loader{
    width: 100%;
}
.spinner{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    border-top: 2px solid #fff;
    border-bottom-color: #fff;
    animation: spin 500ms infinite;
   
}
button .spinner{
    position: absolute;
    left: 50%;
    top: 50%;
}

@keyframes spin{
   
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
          }
          100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
          }
    
}