
.qty-container {
    min-width: 100px;
    background: var(--color-light-greyish);
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  }
  td .qty-container{
    width: 80px;
  }
  .increment-btn,
  .decrement-btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    color: var(--color-primary);

  }
  .qty-container .counter {
    font-size: 14px;
    color: var(--color-primary);
  }