.landing-wrapper {
  padding: 13px 5px;
  margin-top: 10px;
}

.categories-header {
  color: var(--color-white);
  background: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
}

.categories-list .parent-category-title {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  color: var(--color-primary);
}
.categories-list{
    max-height: 60vh;
    overflow-y: auto;
    padding: 0 5px;
}
.categories-list::-webkit-scrollbar{
    width:8px;
}
.categories-list::-webkit-scrollbar-thumb{
    background: #2291994f;
    
}

.categories-list a {
  padding: 10px 15px;
  display: block;
  transition: 500ms;
}

.categories-list a {
  color: #229299;
}
.categories-list a:hover {
  background: var(--color-primary);
  color: #ffff;
}
